backend/src/main/resources/xsd/pqr-consulta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://fitel.com.co/pqr/soap"
           targetNamespace="http://fitel.com.co/pqr/soap"
           elementFormDefault="qualified">

    <!-- ====================================================== -->
    <!-- WSConsultaOperador – Esquema para integración SIC       -->
    <!-- Basado en la Circular 0005 de 2022 de la SIC            -->
    <!-- ====================================================== -->

    <!-- ─── Request ─────────────────────────────────────────── -->
    <xs:element name="consultaCUNRequest">
        <xs:complexType>
            <xs:sequence>
                <!-- Identificador del Operador asignado por la SIC -->
                <xs:element name="IO"                   type="xs:string"/>
                <!-- Año de asignación (AAAA) -->
                <xs:element name="AA"                   type="xs:string"/>
                <!-- Consecutivo de radicación -->
                <xs:element name="CR"                   type="xs:string"/>
                <!-- Tipo de documento: CC, CE, NIT, TI, PP, etc. -->
                <xs:element name="tipoIdentificacion"   type="xs:string"/>
                <!-- Número de documento del peticionario -->
                <xs:element name="numeroIdentificacion" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ─── Response ────────────────────────────────────────── -->
    <xs:element name="consultaCUNResponse">
        <xs:complexType>
            <xs:sequence>
                <!-- La respuesta en crudo con formato String y CDATA -->
                <xs:element name="respuesta" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Elemento raíz para el array de integración para forzar a JAXB a generarlo -->
    <xs:element name="ArrayOfIntegracionCUN" type="tns:ArrayOfIntegracionCUN"/>

    <!-- Array wrapper -->
    <xs:complexType name="ArrayOfIntegracionCUN">
        <xs:sequence>
            <xs:element name="IntegracionCUN"
                        type="tns:IntegracionCUN"
                        minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Tipo que representa cada registro de PQR -->
    <xs:complexType name="IntegracionCUN">
        <xs:sequence>
            <xs:element name="nombreOperador" type="xs:string"/>
            <xs:element name="codigoUnicoNumerico" type="tns:CodigoUnicoNumerico"/>
            <xs:element name="nomPersona" type="tns:NomPersona"/>
            <xs:element name="tipoIdNacionalPersona" type="tns:TipoIdNacionalPersona"/>
            <xs:element name="grupoNumeroIdentificacion" type="xs:string"/>
            <xs:element name="descripcionEstado" type="xs:string"/>
            <xs:element name="fechaAsignacion" type="xs:string"/>
            <xs:element name="fechaEstRespuesta" type="xs:string" minOccurs="0"/>
            <xs:element name="razonSocial" type="xs:string"/>
            <xs:element name="tipoQuejaSic" type="tns:TipoQuejaSic"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CodigoUnicoNumerico">
        <xs:sequence>
            <xs:element name="identificadorOperador" type="xs:string"/>
            <xs:element name="anoRadicacionCun" type="xs:string"/>
            <xs:element name="ConsecutivoRadCun" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NomPersona">
        <xs:sequence>
            <xs:element name="primerNombre" type="xs:string"/>
            <xs:element name="segundoNombre" type="xs:string"/>
            <xs:element name="primerApellido" type="xs:string"/>
            <xs:element name="segundoApellido" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TipoIdNacionalPersona">
        <xs:sequence>
            <xs:element name="codTipoIdNacionalPersona" type="xs:string"/>
            <xs:element name="nomTipoIdentificacionNacionalPersona" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TipoQuejaSic">
        <xs:sequence>
            <xs:element name="nomTipoQuejaSic" type="xs:string"/>
            <xs:element name="codTipoQuejaSic" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
